/* You can add global styles to this file, and also import other style files */

body {
  margin: 0px !important;
}

._w-100 {
  width: 100%;
}
._w-50 {
  width: 50%;
}

._pingFang-SC {
  font-family: "PingFangSC", sans-serif;
}

._ml-auto {
  margin-left: auto;
}

._flex-box {
  display: flex;
  align-items: center;
}

._flex-column-direction {
  flex-direction: column;
}
._align-items-unset {
  align-items: unset;
}

._semi-bold {
  font-weight: 500;
}

._bold {
  font-weight: 700;
}

._regular {
  font-weight: 400;
}

._p-5 {
  padding: 5px;
}

._pt-5 {
  padding-top: 5px;
}
._pb-5 {
  padding-bottom: 5px;
}
._pb-10 {
  padding-bottom: 10px;
}

._p-20 {
  padding: 20px;
}

._f-15 {
  font-size: 15px !important;
}

._f-22 {
  font-size: 22px !important;
}

._f-14 {
  font-size: 14px;
}

._f-18 {
  font-size: 18px;
}

._f-25 {
  font-size: 25px;
}
._f-15 {
  font-size: 15px;
}

._f-12 {
  font-size: 12px;
}
._mt-20 {
  margin-top: 20px;
}
._mb-20 {
  margin-bottom: 20px ;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
